$primaryFontRegular: 'Poppins-Regular';
$primaryFontBold: 'Poppins Bold';
$primaryFontExtraBold: 'Poppins-ExtraBold';
$primaryFontItalic: 'Poppins-Italic';
$primaryFontMedium: 'Poppins-Medium';

$white: #fff;
$black: #333;
$lightBeige: #FDF2FF;
$purple: #C86DD7;

// breakpoint variables
$xxl: 1610px;
$xl: 1450px;
$lg: 1210px;
$md: 1034px;
$sm: 810px;
$xs: 490px;