$primaryFontRegular: 'Poppins-Regular';
$primaryFontBold: 'Poppins Bold';
$primaryFontExtraBold: 'Poppins-ExtraBold';
$primaryFontItalic: 'Poppins-Italic';
$primaryFontMedium: 'Poppins-Medium';

$white: #fff;
$black: #333;
$lightBeige: #FDF2FF;
$puple: #C86DD7;

