@font-face {
    font-family: Poppins Bold;
    font-display: auto;
    src: local('Poppins Bold'), url(../font/Poppins-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: Poppins-ExtraBold;
    font-display: auto;
    src: local('Poppins-ExtraBold'), url(../font/Poppins-ExtraBold.ttf);
    font-style: normal;
}
@font-face {
    font-family: Poppins-Italic;
    font-display: auto;
    src: local('Poppins-Italic'), url(../font/Poppins-Italic.ttf);
    font-style: normal;
}
@font-face {
    font-family: Poppins-Medium;
    font-display: auto;
    src: local('Poppins-Medium'), url(../font/Poppins-Medium.ttf);
    font-style: normal;
}
@font-face {
    font-family: Poppins-Regular;
    font-display: auto;
    src: local('Poppins-Regular'), url(../font/Poppins-Regular.ttf);
    font-style: normal;
}