@import './fonts.scss';
@import './constants.scss';
@import './mixins.scss';
@import './nav.scss';
@import './pleasures.scss';
@import './free-time.scss';
@import './price.scss';

.home-section {
    position: relative;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    padding-bottom: 160px;
    background-position: center;
    .home-section__phones img {
        position: absolute;
        left: 6%;
        top: -7.21%;
        
        // @media
        // transform: scale();
    }
    
    .container {
        width: 85%;
        margin: 0 auto;
        .home-section__info {
            @include flex-column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 156px;
            b {
                font-size: 72px;
                line-height: 72px;
                color: $white;
                margin-bottom: 26px;
                width: 30%;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: $white;
                width: 45%;
            }
            .btn.btn-primary {
                @include button;
                background: #FFC300;
                margin-top: 34px;
                padding: 12px 47px;
            }
            .btn.btn-primary:hover {
                background-color: #C86DD7;
                border: orange;
            }
            
        }
  
    }
    

}
.choise-section {
    margin: 55px 0 64px;
    .choise-descr {
        @include flex-column;
        align-items: center;
        h2 {
            font-size: 56px;
            line-height: 64px;
            color: $black;
            
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: $black;
            
            width: 40%;
            text-align: center;
            padding: 23px 0 32px;
        }
    }
    .choiseItem {
        display: flex;
        flex-wrap: wrap;
        .choiseItem-folow ,
        .choiseItem-pleasure ,
        .choiseItem-characteristic ,
        .choiseItem-something ,
        .choiseItem-cupidatat ,
        .choiseItem-promises {
            @include flex-column;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
            border-radius: 3px;
            margin: 0 15px 32px;
            width: 30%;
            img {
                padding: 40px 162px 11px;
            }
            h4 {
                font-size: 24px;
                line-height: 32px;
                
                color: $black;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                opacity: 0.5;
                
                color: $black;
                text-align: center;
                padding-bottom: 32px;
                width: 70%;
            }
        }
    }
}