@import './fonts.scss';
@import './constants.scss';
@import './mixins.scss';
@import './nav.scss';
@import './pleasures.scss';
@import './free-time.scss';
@import './price.scss';
@import './carousel.scss';
@import './idea.scss';
@import './contact_us.scss';
@import './information.scss';
@import './footer.scss';

.container {
    width: 85%;
    margin: 0 auto;
}
.home-section {
    // position: relative;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    padding-bottom: 160px;
    background-position: center;
    .home-section__phones {
        // position: absolute;
        // left: 6%;
        // top: -7.21%;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;

        
        
        @media (max-width: $xxl) {
            bottom: -30%;
        }
        @media (max-width: $xl) {
            bottom: -30%;
        }
        @media (max-width: $lg) {
            bottom: -15%;
        }
        @media (max-width: $md) {
            bottom: 5%;
        }
        @media (max-width: $sm) {
            bottom: 30%;
        }
        
        img {
            height: 120%;
        }
    
        // @media
        // transform: scale();
    }
    
    
    .container {
        width: 85%;
        @media (max-width: $sm) {
            width: 100%;
        }
       
        .home-section__info {
            @include flex-column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 156px;
            position: absolute;
            z-index: 4;
            color: $white;
            margin: 8% 15% 20% 0;
            @media (max-width: $sm) {
                margin: 25% 15% 20% 0;
            }
            @media (max-width: $xs) {
                margin: 45% 15% 20% 0;
            }
            
            b {
                font-size: 72px;
                line-height: 72px;
                color: $white;
                margin-bottom: 26px;
                width: 30%;
                @media (max-width: $lg) {
                    font-size: 56px;
                    line-height: 64px;
                    width: 50%;
                }
                @media (max-width: $sm) {
                    
                    margin-bottom: 22px;
                }
                @media (max-width: $xs) {
                    width: 100%;
                }
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: $white;
                width: 60%;
                @media (max-width: $sm) {
                    width: 100%;
                }
                
            }
            .btn.btn-primary {
                @include button;
                background: #FFC300;
                margin-top: 34px;
                padding: 12px 47px;
                @media (max-width: $sm) {
                    margin-top: 18px;
                }
            }
            .btn.btn-primary:hover {
                transition: 1s;
                background: $purple;
              
            }
            
        }
  
    }
    

}
.choise-section {
    
    margin: 55px 0 64px;
    @media (max-width: $xs) {
        margin: 38px 0 80px;
    }
    .container {
        width: 85%;
        margin: 0 auto;
        @media (max-width: $xs) {
            width: 95%;
    
        }
        .choise-descr {
            @include flex-column;
            align-items: center;
            h2 {
                font-size: 56px;
                line-height: 64px;
                color: $black;
                font-weight: bold;
                @media (max-width: $xs) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: $black;
                font-weight: 600;
                width: 50%;
                text-align: center;
                padding: 23px 0 32px;
                @media (max-width: $sm) {
                    width: 100%;
            
                }
            }

        }
        .choiseItem {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: $md) {
                justify-content: center;
            }
            
            .choiseItem-folow ,
            .choiseItem-pleasure ,
            .choiseItem-characteristic ,
            .choiseItem-something ,
            .choiseItem-cupidatat ,
            .choiseItem-promises {
                @include flex-column;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
                border-radius: 3px;
                margin: 0 15px 32px;
                width: 30%;
                @media (max-width: $sm) {
                    width: 80%;
            
                }
                @media (max-width: $xs) {
                    width: 100%;
            
                }
                img {
                    padding: 40px 162px 11px;
                }
                h4 {
                    font-size: 24px;
                    line-height: 32px;
                    
                    color: $black;
                    text-align: center;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    opacity: 0.5;
                    
                    color: $black;
                    text-align: center;
                    padding-bottom: 32px;
                    width: 70%;
                }
            }
        }  
    } 
}
.events {
    background: $lightBeige;
    padding: 55px 0 96px;
    @media (max-width: $sm) {
        padding: 55px 0 64px;

    }
    b {
        font-size: 56px;
        line-height: 64px;
        color: $black;
        @media (max-width: $sm) {
            font-size: 40px;
            line-height: 48px;
     
        }
    }
    .events-card {
        @include flex-row;
        @media (max-width: $md) {
           flex-wrap: wrap;
    
        }
        .card {
            margin: 57px 15px 0 15px;
            
            padding: 0;
            @media (max-width: $md) {
                margin: 42px 15px 0;
            }
            @media (max-width: $xs) {
                margin: 42px 0 0;
         
            }
            .card-body {
                margin: 32px 32px 50px 32px;
                h5 {
                    font-size: 12px;
                    line-height: 24px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $black;
                }
                b {
                    font-size: 24px;
                    line-height: 32px;
                    color: $black; 
                    padding-top: 13px;             

                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: $black; 
                    opacity: 0.5;
                    padding-top: 25px;
                }
            }
        }
    }
}
