@mixin flex-row {
    display: flex;
    flex-direction: row;
  }
  
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button {
  border-radius: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  padding: 12px 54px;
}
@mixin artIdea {
  @include flex-column;
  justify-content: flex-end;
  align-items: start;
  padding: 0 0 40px 32px;
  b {
      
      font-size: 24px;
      line-height: 32px;
      color: $white;
      width: 50%;
  }
  p {
      font-size: 12px;
      line-height: 24px;
      color: $white;
      margin-top: 11px;
  }
}