.navbar {
    @include flex-row;
    justify-content: space-between;
    background: #5A27A4;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-top: 17px;
}
    .navbar-logo {
        font-size: 40px;
        line-height: 48px;
        font-family: $primaryFontBold;
        color: $white;

    }
    .navbar-topnav {
        @include flex-row;
        &__links {
            margin-right: 56px;
        }
        &__links a {
            font-size: 16px;
            line-height: 24px;
            font-family: $primaryFontMedium;
            color: $white;
            padding:  0 25px;
            text-decoration: none;
        }
        &__points {
            a {
                padding: 0 16px;
            }
        }
    }