doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/main.css")
        link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap', rel='stylesheet')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
        title RELAP 
    body 
        section.home-section
            .home-section__phones 
                img(src="../img/phones.png", alt="")
            include ./nav.pug
            .container 
                .home-section__info 
                    b  Sint et molestiae recusandae
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                    button.btn.btn-primary Read more

        section.choise-section
            .container
                .choise-descr
                    h2 Sapiente delectus 
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                .choiseItem 
                    .choiseItem-folow
                        img(src="../img/Shape.svg", alt="snape")
                        h4 Consequuntur
                        p Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    .choiseItem-pleasure 
                        img(src="../img/Shape (9).svg", alt="snape")
                        h4 Voluptatem
                        p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    .choiseItem-characteristic 
                        img(src="../img/Shape (1).svg", alt="snape")
                        h4 Quisquam
                        p Quis nostrum exercitationem ullam corporis suscipit laboriosam
                        
                    .choiseItem-something 
                        img(src="../img/Shape (2).svg", alt="snape")
                        h4 Aliquid
                        p Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
                    .choiseItem-cupidatat 
                        img(src="../img/Shape (3).svg", alt="snape")
                        h4 Excepteur
                        p Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
                    .choiseItem-promises 
                        img(src="../img/Shape (4).svg", alt="snape")
                        h4 Accusamus
                        p Odio dignissimos ducimus qui blanditiis praesentium voluptatum

