doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/main.css")
        link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap', rel='stylesheet')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
        title RELAP 
    body 
        section.home-section
            .home-section__phones 
                img(src="../img/phones.png", alt="")
            include ./nav.pug
            .container 
                .home-section__info 
                    b  Sint et molestiae recusandae
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                    button.btn.btn-primary Read more

        section.choise-section
            .container
                .choise-descr
                    h2 Sapiente delectus 
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                .choiseItem 
                    .choiseItem-folow
                        img(src="../img/Shape.svg", alt="snape")
                        h4 Consequuntur
                        p Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    .choiseItem-pleasure 
                        img(src="../img/Shape (9).svg", alt="snape")
                        h4 Voluptatem
                        p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    .choiseItem-characteristic 
                        img(src="../img/Shape (1).svg", alt="snape")
                        h4 Quisquam
                        p Quis nostrum exercitationem ullam corporis suscipit laboriosam
                        
                    .choiseItem-something 
                        img(src="../img/Shape (2).svg", alt="snape")
                        h4 Aliquid
                        p Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
                    .choiseItem-cupidatat 
                        img(src="../img/Shape (3).svg", alt="snape")
                        h4 Excepteur
                        p Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
                    .choiseItem-promises 
                        img(src="../img/Shape (4).svg", alt="snape")
                        h4 Accusamus
                        p Odio dignissimos ducimus qui blanditiis praesentium voluptatum
        section.rejects-pleasures
            .container 
                .lips-art 
                    img(src="../img/lip.png", alt="")
                .rejects-pleasures__descr
                    b Reiciendis voluptatibus
                    h4 Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    .rejects-pleasures__item
                        .percent
                            b 42%
                            p Alias consequatur
                        .quantity
                            b +73
                            p Perferendis doloribus
                    button.btn.btn-primary Features
        
        section.free-time.container 
            .free-time__descr 
                b Asperiores repellat
                p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                .free-time__item
                    .free-time-old 
                        img(src="../img/Shape (5).svg", alt="")
                        b Eiusmod
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    .free-time-pleasure 
                        img(src="../img/Shape (6).svg", alt="")
                        b Tempor
                        p Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore
                    .free-time-recipe 
                        img(src="../img/Shape (8).svg", alt="")
                        b Consequat
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    .free-time-pain
                        img(src="../img/Shape (7).svg", alt="")
                        b Dolore
                        p Unde omnis iste natus error sit voluptatem accusantium
            .free-time__phone
                img(src="../img/iphone.png", alt="")
        
        section.price
            .container 
                .price__descr
                    b Totam aperiam
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                .price-item 
                    .wine 
                        h4 Sunt in culpa
                        b $9
                        ul 
                            li • Qui officia deserunt
                            li • Mollitia animi
                            li • Laborum et dolorum
                        button.btn.btn-primary Buy plan
                    .difference
                        h4 Distinctio
                        b $18
                        ul 
                            li • Qui officia deserunt
                            li • Mollitia animi
                            li • Laborum et dolorum
                        button.btn.btn-primary Buy plan
                    .other
                        h4 Soluta nobis
                        b $97
                        ul 
                            li • Qui officia deserunt
                            li • Mollitia animi
                            li • Laborum et dolorum
                        button.btn.btn-primary Buy plan
        
        section.autors.container 
            .autors__descr
                b Eaque ipsa
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            .autors__carousel
                include carousel.html
        section.idea-pleasure 
            .container 
                .idea-pleasure__descr 
                    b Veritatis
                    p Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    button.btn.btn-primary See all
                .idea-pleasure__art 
                    .idea-pleasure__artRose
                        b Iste natus error sit voluptatem
                        p Accusantium doloremque
                    .idea-pleasure__artGlass
                        b Totam rem aperiam
                        p Eaque ipsa 
                    .idea-pleasure__artPencil
                        b Quae ab illo inventore
                        p Veritatis

        section.form-contact-us.container 
            .egg-art 
                img(src="../img/egg.png", alt="egg")   
            .form-contact-us__descr 
                b Poris suscipit laboriosam 
                h4 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                h5 Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                .form-contact-us__button
                    input(type="text" placeholder="Your email")
                    button.btn.btn-primary Contact us
                p Quis nostrum exercitationem
        
        section.events 
            .container 
                b Nisi aliquid
                .events-card
                    .card(style='width: 40rem;')
                        img.card-img-top(src='../img/зонт.png', alt='зонт')
                        .card-body
                            h5.card-date June 01/ 2019
                            b.card-title Dolorem eum fugiat quo voluptas
                            p.card-text Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
                    .card(style='width: 40rem;')
                        img.card-img-top(src='../img/laptop.png', alt='laptop')
                        .card-body
                            h5.card-date June 02/ 2019
                            b.card-title Accusamus et iusto odio dignissimos
                            p.card-text Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                    .card(style='width: 40rem;')
                        img.card-img-top(src='../img/hand.png', alt='hand')
                        .card-body
                            h5.card-date June 03/ 2019
                            b.card-title Ducimus qui blanditiis praesentium
                            p.card-text Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta.

        section.information.container 
            .contacts 
                h2 Repudiandae
                h4 Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
                b Aspernatur
                p 123 earum rerum hic tenetur a sapiente delectus, 42
                b Reiciendis
                p +1 (234) 567 89 01 maiores@info.com
                .social-network
                    a(href='#')
                        img(src='../img/fb.svg', alt='fb')
                    a(href='#')
                        img(src='../img/tw.svg', alt='tw')
                    a(href='#')
                        img(src='../img/inst.svg', alt='inst')
            .message__form 
                h4 Alias consequatur
                b Your name   
                input(type="text" placeholder="Name")  
                b Your email
                input(type="text" placeholder="Email") 
                b Your message 
                textarea(name="message" cols="30" rows="10" placeholder="Message")

                button.btn.btn-primary Send            

                


                        
                
    

                    

            


                            
                    




