nav.navbar
    .container 
        .navbar-logo RELAP
        .navbar-topnav
            .navbar-topnav__links
                a(href="#") Home                                                                                        
                a(href="#") Features 
                a(href="#") Works
                a(href="#") About
                a(href="#") People
                a(href="#") News
                a(href="#") Contacts
            .navbar-topnav__points
                a(href="#") 
                    img(src="../img/search.svg", alt="search")
                a(href="#", id="menu", .icon)
                    img(src="../img/burger.svg", alt="")  
            
      
       

            
                

